@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shape-divider-bottom-1715119573 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1715119573 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 359px;
}

.custom-shape-divider-bottom-1715119573 .shape-fill {
    fill: #FFFFFF;
}


/* styles.css */

.title-with-lines {
    display: flex;
    align-items: center;
}

.title-line {
    flex-grow: 1;
    height: 1px;
    background-color: #B6D3FE;
}

.title-text {
    margin: 0 10px;
}
